body{
    font-family: 'Baloo Da 2', cursive;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
    color: tomato;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img {
    width: 70%;
    padding-top:8%;
    padding-left: 5%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-bottom: 120px;
}




.myButton {
	box-shadow:inset -28px 35px 0px -26px #FA6D59;
	background-color:rgb(231, 74, 54);
	border-radius:29px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:11px 45px;
	text-decoration:none;
    text-shadow:0px 0px 9px #cf4036;
    
}
.myButton:hover {
    background-color:#FA6D59;
    transition: 0.5s all ease-in-out;
}
.myButton:active {
	position:relative;
	top:1px;
}
.dream{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.myButton-2 {
	box-shadow:inset 28px 35px 0px -26px #FA6D59;
	background-color:#E64A36;
	border-radius:29px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:11px 45px;
	text-decoration:none;
    text-shadow:0px 0px 9px #cf4036;
    
}
.myButton-2:hover {
    background-color:#FA6D59;
    transition: 0.5s all ease-in-out;
}
.myButton-2:active {
	position:relative;
	top:1px;
}

.box{
    -webkit-box-shadow: 10px 11px 40px gray;
    -moz-box-shadow: 10px 11px 40px gray;
     box-shadow: 10px 11px 40px gray;
     padding: 30px;
     border-radius: 10px;
     min-height: 80%;
     
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left: 7px solid black;
    border-image: linear-gradient(lightsalmon,tomato);
    border-image-slice:1;
}
#baby{
    border-left: 7px solid black;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice:1;
}

footer p{
    text-align: center;
    color: gray;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}




@media only screen and (max-width: 480px) {
	.half-width{
        width: 80%;
        margin-left: 5%;
        padding-left: 5%;
        margin-bottom: 50px;
    }
    .half-width img {
        width: 90%;
    }
    .responsive{
        display: none;
    }
    .myButton{
        margin-top: 15px;
    }
    .myButton-2{
        margin-top: 15px;
    }
    .top-banner{
        display: block;
    }
    .dream{
        background-position: right;
    }
    .experience {
        background-position-y: 230px;
    }
    .box{
        margin-left: 0px;
        padding: 6%;
    }
    footer p{
        display: inline-block;
        width: 100%;
        margin: 10px auto;
    }
    h1{
        font-size: 25px;
        text-align: center;
    }
    h2{
        font-size:20px;
        text-align: center;
    }
    h3{
        font-size: 15px;
    }
}